<div class="container">
  <div class="oferta" *ngIf="oferta !== undefined">

    <div class="row">
      <div class="col">
        <h4>{{oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>R$ {{oferta.valor}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>

      </div>

    </div>

    <div>
      <div class="row" style="margin-bottom: 150px; margin-top: 25px;">
        <div class="col">
          <nav>
            <div class="nav nav-tabs" role="tablist">
              <a class="nav-item nav-link active" data-toggle="tab" routerLink="comoUsar" role="tab" aria-controls="nav-home"
                aria-selected="true">Como Usar?</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="ondeFica" role="tab" aria-controls="nav-profile"
                aria-selected="false">Onde FIca?</a>
            </div>
          </nav>
          <div class="tab-content" >
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
